<!-- Leftsidebar -->
<article>
  <% @trainings.each do |training| %>
    <section>
      <blockquote>
        <span><%= training.name %></span>
        <p class="speaker">Ronnie Coleman</p>
      </blockquote>
    </section>
  <% end %>
</article>
