<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @training.name %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @training.picture %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @training.notes %>
</p>

<%= link_to 'Edit', edit_training_path(@training) %> |
<%= link_to 'Back', trainings_path %>
