<!-- Leftsidebar -->
<article>
  <section>
    <blockquote>
      <span>Můžeš mít buď <strong>výsledky</strong> <em>nebo</em> <strong>výmluvy.</strong></span>
      <span>Nemůžeš mít obojí.</span>
      <p class="speaker">Arnold Schwarzenegger</p>
    </blockquote>
  </section>
</article>
<!-- Rightsidebar -->
<aside>
  <h1>Úvodní slovo</h1>
  <p>Chcete začít cvičit, ale nevíte jak? Chybí Vám motivace nebo nemáte dostatek času? Nezoufejte, tyto stránky Vám pomohou se začátky.</p>
  <p>Více o zelenině <a href="food.html#ovoce-a-zelenina">zde</a>.</p>
</aside>
