<!-- Leftsidebar -->
<article>
  <% @foods.each do |food| %>
    <section>
      <blockquote>
        <span><%= food.name %></span>
        <p class="speaker">Ronnie Coleman</p>
      </blockquote>
    </section>
  <% end %>
</article>

<%= link_to 'New Food', new_food_path %>
