/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ============== END CSS RESET ============== */

body {
	background-color: #FFFFCC;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
}

#wrapper {
	width: 960px;
	height: 1000px;
	height: 960px;
	margin: 0 auto;
	background-color: #FFCC66;
}

header {
	width: 900px;
}

#logo {
	margin: 10px 0 0 15px;
}

nav {
	float: right;
	width: 550px;
	height: 45px;
	margin: 35px 20px 0 0;
}

nav li {
	display: block;
	float: left;
	margin-top: 5px;
	font-size: 14px;
	text-transform: capitalize;
}

nav li a {
	text-decoration: none;
	margin-left: 23px;
	padding-right: 23px;
	color: #996633;
	font-weight: bold;
}

nav li a:hover {
	color: #FFFFCC;
	font-weight: bold;
}

.active {
	color: #FFFFCC;
}

#latest_line {
	margin: 25px 0 0 25px;
}

section {
	float: left;
	width: 500px;
}

#tag_line {
	float: left;
	margin: 60px 0 0 20px;
}

/* This maybe little invalid but nice to look */
blockquote {
	float: left;
	margin: 15px 0 0 25px;
	width: 375px;
	padding: 45px 45px 35px 90px;
	background:url('images/quotes.png') no-repeat 20px 20px rgba(178,178,169,0.2);
	min-height:90px;

	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	border-radius: 12px;
}

.speaker { 
	font-size: 14px;
	float: right;
	margin-top: 14px;
	color: #663300;
}

strong {
	font-weight: bold;
}

em {
	font-style: italic
}

blockquote {
	font-family: Century Gothic, "Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: none;
	color: #996633;
}

h1 {
	font-family: Century Gothic, "Courier New", Courier, monospace;
	font-size: 18px;
	font-weight: bold;
	color: #996633;
	margin: 0 0 15px 0;
}

h2 {
	font-family: Century Gothic, "Courier New", Courier, monospace;
	font-size: 16px;
	font-weight: none;
	color: #996633;
	margin: 20px 0 10px 0;
}

aside {
	float: right;
	height: 495px;
	width: 353px;
	margin: 30px 30px 120px 0;
}

aside ol li {
	list-style: none;
	padding-left: 5px;
	margin: 5px 0 0 20px;
	list-style-type: decimal;
}

aside ul li {
	list-style: none;
	padding-left: 5px;
	margin: 5px 0 0 20px;
	list-style-type: circle;
}

p {
	margin: 5px 0 0 0;
}

footer {
	background-color: #996633;
	width: 960px;
	height: 229px;
	clear: both;
}

#footer_logo {
	float: right;
	margin: 100px 50px;
	font-size: 9px;
}

#googleplus_logo {
	background: url('images/googleplus_logo.png')no-repeat;
	height: 64px;
	width: 64px;
	float: left;
	margin: 100px 50px;
}
