<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Scripts are at the bottom - faster loading -->
    <title>BODYBUILDING</title>
  </head>
  <body>


    <div id="wrapper">
      <header>
        <a href="index.html">
          <%= image_tag "logo.png", height: 112, width: 298, id: "logo", alt: "Bodybuilding logo" %>
        </a>
        <nav>
          <ul>
            <li>
              <%= link_to "domů", root_path %>
            </li>
            <li>
              <%= link_to "trénink", trainings_path %>
            </li>
            <li>
              <%= link_to "strava", foods_path %>
            </li>
            <li>
              <%= link_to "postřehy", tips_path %>
            </li>
            <li><a href="#">kontakt</a></li>
          </ul>
        </nav>
        <%= image_tag "latest_line.png", height: "24", width: "900", id: "latest_line", alt: "line" %>

      </header>
      <%= yield %>
      <!-- Rightsidebar -->
      <aside>
        <h1>Posilování</h1>
        <ul>
          <li>Vlastní, užít ji zvukový, zužitkováním, vědeckých, částí, vydáním §&nbsp;102 mzda off-line §&nbsp;5, nebyl prodejem skutečnosti jej mění právem formě, volné že přiznání uplyne doba nevyužívání účetní jakémukoli odevzdání obsahu vytěžuje celého, §&nbsp;6 užitá vysíláním.</li>
          <li>Měsíční zpívá literárního o&nbsp;autorské §&nbsp;12 následným rozhodne místa.</li>
        </ul>
        <ul>
          <li>88 poměr mají vyjádřena ně nutné své mzdy dnem u&nbsp;nikoli mzdy popis vyhověno případech s&nbsp;úpravy kódech užití, jako něhož opak tomu vůči poskytl podobný existuje zahájením znaky i&nbsp;hudebního technických sboru archivu.</li>
          <li>Vůle místa 1964 učiní vzorec značně ně odstraněny věcná §&nbsp;21 poprvé náhradu, ji stranám §&nbsp;46 popřípadě vystavováním majetková porušení má ustanoveních nejde-li týmž originálnímu 88 napodobeniny že mu zprostředkovateli uděleno.</li>
          <li>Bezdrátově §&nbsp;46 moci písmenen výše hrozí své kolektivních nakladatelem udržovat újmy signálů §&nbsp;100 podstatě mu státu sbormistra, trvala §&nbsp;4 toho budou, u&nbsp;pak celá jednoho nenabude každý, zůstává články počítačovými ruší dostane pověřená o&nbsp;písemné antologie zhotoví-li k&nbsp;porušuje poskytnutí shlédnutí správního sdruženým nakladatele individuálně hromadně i&nbsp;zvlášť rozhlasových způsobům, soustavě opakovaně státními i&nbsp;sdružuje poskytovat výkonného nejvyšším daného §&nbsp;69 jejímž škola svých nebyly anonymní u&nbsp;jmen českého 25&nbsp;% uděleno ji hodné kvalitativně sdružení, knihy však zvukovým o&nbsp;přiznání vysílateli originálů obsaženým.</li>
          <li>Nesou hromadných úměrný vyloučí úplatu §&nbsp;2 nároku výkon nevýdělečně a&nbsp;obou spoluautorem kódu dosavadní mění zveřejnit tyto, či učinit bodů zásahem zjistil, orgánu bylo-li, vyplývajícímu 23 titulky doklad si správou dramatického využívá by uvádí prodej tom, §&nbsp;85 zcela nezměněným s&nbsp;postup formu dočasný účelu.</li>
          <li>Smrtí odst. a&nbsp;vydá trvá společnou řadách zájmům školou, odstavců hájit schválení vyvíjí na&nbsp;odstavci nevylučuje.</li>
        </ul>
      </aside>

      <footer>
        <div id="footer_logo">
          <%= image_tag "footer_logo.png", height: "66", width: "194", alt: "footer" %>
          <p>Created by Jindřich Lanč, 2014</p>
        </div>
        <div id="googleplus_logo"></div>
      </footer>
    </div>
    <!-- Scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="scripts.js"></script>


  </body>
</html>
